<template>
    <div class="card-preview">
        <a v-bind:href="post.link">
          <h2>{{ post.title }}</h2>
        </a>
    </div>
</template>

<script>
export default {
  name: 'Post',
  props: ['post'],
  setup() {
      
  }
}
</script>

<style>
.card-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-left: 10px solid;
  border-right: 10px solid;
}

.card-preview:hover {
  box-shadow: 1px  3px 5px rgba(0, 0, 0, 0.1);
}

.card-preview h2 {
  font-size: 20px;
  color: #404040;
  margin-bottom: 8px;
}
</style>
