<template>
  <nav class="navbar">
    <h1>Posts that have been posted</h1>
  </nav>
  <div class="content">
    <Post v-for="post in posts" v-bind:post="post" v-bind:key="post.id"></Post>
  </div>
</template>

<script>
import { ref } from 'vue';
import Post from './components/Post.vue';

export default {
  name: 'App',
  components: {
    Post
  },
  setup() {
    const posts = ref([]);
    const server = "ADD SERVER ADDRESS HERE";

    async function getPosts() {
      await fetch(server, {
        method: "GET",
      })
      .then(resp => resp.json() )
      .then(dataJson => posts.value = dataJson)
      .catch(err => console.log(err));
    }

    return {
      posts,
      getPosts
    }
  },
  beforeCreate() {
    this.getPosts();
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}

.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 800px;
  margin: 0 auto;
}

.navbar button:hover {
  margin-left: 60px;
  background-color: #404040;
  color: white;
}

.content {
  max-width: 800px;
  margin: 40px auto;
  padding: 20px;
}
</style>
